In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
# Files to load
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"
city_data_df = pd.read_csv('city_data.csv')
ride_data_df = pd.read_csv('ride_data.csv')

In [2]:
pyber_data_df = pd.merge(ride_data_df,city_data_df, how='left',on=["city", "city"])

In [7]:
pyber_data_df.head(2)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban

In [6]:
def rejiggersum(df,gb,vals):
    return df.groupby([gb]).sum()[vals]
def rejiggeravg(df,gb,vals):
    return df.groupby([gb]).mean()[vals]
def rejiggercount(df,gb,vals):
    return df.groupby([gb]).count()[vals]

In [5]:
sum_rides_by_type = rejiggercount(pyber_data_df,'type','fare')
sum_drivers_by_type = rejiggersum(city_data_df,'type','driver_count')
sum_fares_by_type = rejiggersum(pyber_data_df,'type','fare')
avg_fare_by_type = rejiggeravg(pyber_data_df,'type','fare')
avg_fare_by_driver = rejiggersum(pyber_data_df,'type','fare')/ rejiggersum(city_data_df,'type','driver_count')

ser = [sum_rides_by_type,sum_drivers_by_type,sum_fares_by_type ,avg_fare_by_type,avg_fare_by_driver]
my_names = ["Total Rides","Total Drivers","Total Fares","Average Fare per Ride","Average Fare per Driver"]

type_summary_df = pd.concat(ser, axis=1, keys=my_names)
del type_summary_df.index.name
type_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468